@media screen and (min-width: 1200px){
  .homer {
  	  width:312px; 
	  height:312px; 
	  background:url(homer.jpg) 0 0px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px){
  .homer {
         width:312px;
         height:312px;
         background:url(homer.jpg) 100% 0;
  }
}

@media screen and (min-width: 400px) and (max-width: 800px){
  .homer {
         width:312px;
         height:312px;
         background:url(homer.jpg) 0 100%;
  }  
}

@media screen and (max-width: 400px){
  .homer {
         width:312px;
         height:312px;
         background:url(homer.jpg) 100% 100%;
  }  
}